Guardar PDF.json
{
  "name": "Guardar PDF",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        320,
        16
      ],
      "id": "b2dd12bc-c735-4b4b-82a2-a9ba5686e862",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// El Merge entrega varios items en $items()\n// Vamos a transformar cada item a lo que necesita PostgreSQL\n\nreturn $items().map(item => ({\n  json: {\n    document_name: item.json.file_name ?? \"unknown.pdf\",\n    chunk: item.json.chunk,\n    embedding: item.json.data[0].embedding\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "3d7d1d39-9972-4674-8049-f2b55f11e200",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        0
      ],
      "id": "c6a16410-4684-43e4-b681-e08e91f00262",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/store-document",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        16
      ],
      "id": "bdc9eaf3-835e-448d-9388-6a38102bfc8f",
      "name": "Webhook1",
      "webhookId": "14dafceb-2d26-44e1-afb8-ca23afb4c7df"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text;\nconst fileName = $json.info.Title || \"unknown_file.pdf\"; // o como venga tu dato\nconst chunkSize = 512;\nconst overlap = 50;\n\nfunction chunkText(text, size, overlap) {\n  const chunks = [];\n  let start = 0;\n\n  while (start < text.length) {\n    chunks.push(text.slice(start, start + size));\n    start += size - overlap;\n  }\n\n  return chunks;\n}\n\nreturn chunkText(text, chunkSize, overlap).map(c => ({\n  json: {\n    file_name: fileName,\n    chunk: c\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        16
      ],
      "id": "37dd5759-27aa-4264-9e02-8d8719c60bb2",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "={{'Bearer ?'}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{$json.chunk}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        752,
        -80
      ],
      "id": "2f3e781a-acda-44a4-b135-36a0f9713dbc",
      "name": "HTTP Request1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO documents (document_name, chunk, embedding)\nVALUES (\n  '{{ $json.document_name }}',\n  '{{ $json.chunk }}',\n  '{{ \"[\" + $json.embedding.join(\",\") + \"]\" }}'::vector\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        0
      ],
      "id": "7ced0fd5-4958-4083-b1cc-189f9be4b513",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "vg6eMLOcIQ0bu5Hx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "height": 592,
        "width": 1952
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -224
      ],
      "typeVersion": 1,
      "id": "dc5ae44c-7499-4724-b6b7-3be2ab607f4b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1712,
        0
      ],
      "id": "f9740f46-1d83-42a7-85bb-b5af1fcf76ee",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1712,
        240
      ],
      "id": "bf0ab364-1092-437e-85ce-8a68f4ab92b2",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "bjeW74FIe4q98779",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41b641c5-8e19-4ce9-96a1-5474769603f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f6a22505b906515dd4ca09e9854330592a77f96cdd89a200256ed4c6ff4abaf"
  },
  "id": "tnJkWFxCWG4v5YKp",
  "tags": []
}