Guardar PDF.json
{
  "name": "Guardar PDF",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/store-document",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        -16
      ],
      "id": "fc293be0-98b1-4196-9e0b-0fa4c8b4534b",
      "name": "Webhook",
      "webhookId": "14dafceb-2d26-44e1-afb8-ca23afb4c7df"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.content;\nconst chunkSize = 500;\nconst overlap = 50;\n\nfunction chunkText(text, size, overlap) {\n  const chunks = [];\n  let start = 0;\n  while (start < text.length) {\n    const end = start + size;\n    chunks.push(text.slice(start, end));\n    start += size - overlap;\n  }\n  return chunks;\n}\n\nreturn chunkText(text, chunkSize, overlap).map(chunk => ({ chunk }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -16
      ],
      "id": "55fe7dbf-f05d-4507-a598-e6637bdbc1d6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=={{'Bearer ' + $env.OPENAI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{$json.chunk}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        -16
      ],
      "id": "44f9eed4-3061-4cbf-874d-1b3e14c3cf0c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO documents (chunk, embedding)\nVALUES (\n  '{{$json.chunk}}',\n  vector '[{{ join($json.data[0].embedding, \",\") }}]'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        -16
      ],
      "id": "7d70ddc4-8528-4218-807d-37d5108014b0",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "JUEOXXtf3IzNGnav",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\",\n  \"chunks\": {{$items().length}}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        -16
      ],
      "id": "dce6dfde-0aa1-4569-afec-e749427fe47e",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b994329-4d84-41e5-b47e-ace5c034fb31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "532dc05f3f4ed2bef3dea8c6bc1a312eef90c32b18021721b2633bb99b60b1d2"
  },
  "id": "sePeRVgdfMfK6hRt",
  "tags": []
}